h1 {
    font-size: 2.9rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

a {
    color: #F6F7F8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
